<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECG Analysis</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="container">
        <header>
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="ECG Logo" class="logo">
            <div>
                <h1>ECG Analysis App</h1>
                <p>Analyze your ECG data with AI-powered models.</p>
            </div>
        </header>

        <div class="section">
            <a href="{{ url_for('upload') }}" class="btn">Analyze ECG Image</a>
            <a href="{{ url_for('logout') }}" class="btn logout">Logout</a>
        </div>

        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ url_for('static', filename='images/img1.jpg') }}" alt="ECG Example" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <h3>Why is ECG Analysis Important?</h3>
                    <p>ECG analysis is crucial for early detection of heart diseases. It helps identify irregular heart rhythms, heart attacks, and other cardiac conditions. By monitoring the electrical activity of the heart, healthcare professionals can make informed decisions about treatment and management, ultimately improving patient                     outcomes.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h3>How Does Our Website Help?</h3>
                    <p>Our website utilizes advanced AI algorithms to analyze ECG data efficiently. Users can upload their ECG recordings, and our models will detect abnormalities and provide insights into potential heart conditions. This empowers users to take proactive steps towards their heart health, with easy access to analysis and recommendations.</p>
                </div>
                <div class="col-md-6">
                    <img src="{{ url_for('static', filename='images/img2.jpg') }}" alt="Heart Health" class="img-fluid">
                </div>
            </div>
        </div>

        <div class="section">
            <a href="{{ url_for('upload') }}" class="btn">Analyze ECG Image</a>
            <a href="{{ url_for('logout') }}" class="btn logout">Logout</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>